{% load static %}
<!DOCTYPE html>
 <html lang="en"> 
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Shine Laundry</title>
	<!-- favicons Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-touch-icon.png' %}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/favicon-32x32.png' %}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/favicon-16x16.png' %}" />
	<!-- {% comment %} <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
	<meta name="description" content="Entox HTML Template For Car Business" /> {% endcomment %} -->

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/animate/animate.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/jarallax/jarallax.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/nouislider/nouislider.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/nouislider/nouislider.pips.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/odometer/odometer.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/swiper/swiper.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/moniz-icons/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/tiny-slider/tiny-slider.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/reey-font/stylesheet.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.carousel.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.theme.default.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/twentytwenty/twentytwenty.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/bxslider/jquery.bxslider.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-select/css/bootstrap-select.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/vegas/vegas.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/jquery-ui/jquery-ui.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendors/timepicker/timePicker.css' %}" />

	<!-- template styles -->
	<link rel="stylesheet" href="{% static 'assets/css/moniz.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/moniz-responsive.css' %}" />

	<!-- RTL Styles -->
	<link rel="stylesheet" href="{% static 'assets/css/moniz-rtl.css' %}">

	<!-- color css -->
	<link rel="stylesheet" id="jssDefault" href="{% static 'assets/css/colors/color-default.css' %}">
	<link rel="stylesheet" id="jssMode" href="{% static 'assets/css/modes/moniz-normal.css' %}">
	<!-- <link rel="stylesheet" id="jssMode" href="assets/css/modes/moniz-dark.css"> -->


	<!-- Manual Scripts By Sinu -->
	
	<style>
		.mlabel:after{
			content:'Our Mission';
		}
		.mlabel:hover:after{
			content:'To replace manual efforts with machine work and convert the wastage of customer’s time to their productive time!';
		}
		.vlabel:after{
			content:'Our Vision';
		}
		.vlabel:hover:after{
			content:'To serve people with the best laundry services ensuring their happy and shiny smiles with an aim to move forward by offering the best laundry services.';
		}
		
	</style>


	  
</head>

<body>

	<div class="page-wrapper">
		<header class="main-header clearfix">
			<nav class="main-menu clearfix">
				<div class="main-menu-wrapper clearfix">
					  <div class="main-menu-two-wrapper__logo">
                            <a href="index.html"><img src="{% static 'assets/images/resources/logo.png' %}" alt=""></a>
                        </div>
					<div class="main-menu-wrapper__main-menu">
						<a href="#" class="mobile-nav__toggler">
							<span></span>
						</a>
						<ul class="main-menu__list one-page-scroll-menu">
							<li class="scrollToLink"><a href="/">Home</a></li>
							<li class=""><a href="/vision">Vision</a></li>
							<li class=""><a href="/about">About</a></li>

							<li class="scrollToLink"><a href="/services">Services</a></li>
							<li class="scrollToLink"><a href="/portfolio">Gallery</a></li>
							<li class="scrollToLink"><a href="/faq">feedbacks</a></li>
							
							
							<li class=""><a href="/contact">Contact</a></li>
						</ul>
					</div>
					<div class="main-menu-wrapper__right">
						<div class="main-menu-wrapper__right-contact-box">
							<div class="main-menu-wrapper__right-contact-icon">
								<span class="icon-phone-call"></span>
							</div>
							{% for object4 in obj4 %}
							<div class="main-menu-wrapper__right-contact-number">
								<a href="tel:91-{{object4.contact_number}}">{{object4.contact_number}}</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</nav>
		</header>

	<div class="stricky-header stricked-menu main-menu">
			<div class="sticky-header__content"></div><!-- /.sticky-header__content -->
		</div><!-- /.stricky-header -->
