{% extends 'base.html' %}
{% block content %}
<!-- /.language-feature -->
		{% load static %}
		<!-- vision mission -->
		<section class="welcome-one" id="vision">
			<div class="container">
				<div class="row">
					<div class="col-xl-5">
						<div class="welcome-one__left wow fadeInLeft" data-wow-duration="1500ms">
							<div class="welcome-one__img-box">
								<div class="welcome-one__img">
									<img src="{% static 'assets/images/resources/123.jpg' %}" alt=""height="370" width="399">
								
								</div>
								
							</div>
						</div>
					</div>
					
					<div class="col-xl-7">
						<div>
							The perfect solution is here,<br>
								One & only “Shine Laundry”<br>
								Ab Shine laundry se shine karwaiye apne kapde!
						</div><br><br>
						<div class="welcome-one__right">
							<div class="section-title text-left">
								
							</div>
							<div class="welcome-one__solutions">
								<div class="welcome-one__solutions-single">
									<div class="welcome-one__solutions-icon">
										<span class="icon-tick"></span>
									</div>
									<div class="welcome-one__solutions-text-box">
										<p> <span class="mlabel"></span> </p>
										
										
									</div>
								</div>
								<div class="welcome-one__solutions-single">
									<div class="welcome-one__solutions-icon">
										<span class="icon-tick"></span>
									</div>
									<div class="welcome-one__solutions-text-box">
										<p> <span class="vlabel"></span></p>
										
										
									</div>
									<!-- <div>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. 
										Obcaecati molestiae esse, tenetur rem deserunt repudiandae 
										 atque perferendis soluta excepturi.
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!--Welcome One Start-->
		<section class="welcome-one" id="about">
			<div class="container">
				<div class="row">
					<div class="col-xl-6">
						<div class="welcome-one__left wow fadeInLeft" data-wow-duration="1500ms">
							<div class="welcome-one__img-box">
								<div class="welcome-one__img">
									<img src="{% static 'assets/images/resources/welcome-one-img-1.png' %}" alt="">
									<div class="welcome-one__shape-1"></div>
									<div class="welcome-one__shape-2"></div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="welcome-one__right">
							<div class="section-title text-left">
								<span class="section-title__tagline">About company</span>
								<h2 class="section-title__title">We provide the best Laundry services</h2>
							</div>
							<div class="welcome-one__solutions">
								<div class="welcome-one__solutions-single">
									<div class="welcome-one__solutions-icon">
										<span class="icon-tick"></span>
									</div>
									<div class="welcome-one__solutions-text-box">
										<p>First Class Cleaning Service</p>
									</div>
								</div>
								<div class="welcome-one__solutions-single">
									<div class="welcome-one__solutions-icon">
										<span class="icon-tick"></span>
									</div>
									<div class="welcome-one__solutions-text-box">
										<p>A Personal and Professional Cleaning</p>
									</div>
								</div>
							</div>
							<p class="welcome-one__right-text-1">As the generations change, the mindset of the evolving manpower also changes,
So how can manual efforts that are taken to clean clothes be replaced?</p>
							<p class="welcome-one__right-text-2">The perfect solution is here,
One & only “Shine Laundry”
Ab Shine laundry se shine karwaiye apne kapde!
</p>
						</div>
					</div>
				</div>
			</div>
		</section>	<!--Welcome One End-->

		<!--Counter One Start-->
	
		<!--Services One Start-->
		<link rel="shortcut icon" type="image/png" href="https://www.flaticon.com/free-icons/dry-cleaning
		">
				<section class="services-one" id="services">
					<div class="services-one-bg" style="background-image: url({% static 'assets/images/backgrounds/services-one-bg.jpg' %})">
					</div>
					<div class="container">
						<div class="section-title text-center">
							<span class="section-title__tagline">Our services list</span>
							<p>we are a laundry company that focuses more on using machines and less human labour,In our processes of cleaning,we use different electric machine for each different work. </p>
						</div>
						<div class="row">
							<div class="col-xl-4 col-lg-4">
								<!--Services One Single-->
								<div class="services-one__single wow fadeInUp" data-wow-delay="100ms">
{% load static %}									<div class="services-one__icon">
										<img src="{% static 'assets/images/washing-machine.png' %}" alt="" height="92" width="92">
									</div>
									<h3 class="services-one__title"><a href="website-design.html">Washing</a></h3>
									<p class="services-one__text">  Are you tired of washing so many clothes?get irrited for hours to dry your clothes?</p>
										
								</div> 
								
								
							</div>
							<div class="col-xl-4 col-lg-4">
								<!--Services One Single-->
								<div class="services-one__single wow fadeInUp" data-wow-delay="100ms">
									<div class="services-one__icon">
										<img src="{% static 'assets/images/drying-machine.png' %}" alt="" height="92" width="92">
									</div>
									<h3 class="services-one__title"><a href="web-development.html">DryCleaning</a></h3>
									<p class="services-one__text">Do you have a high brand Lehenga/Sherwani that needs to be dry cleaned safely?</p>
								
								</div> 
									
							</div>
							<div class="col-xl-4 col-lg-4">
								<!--Services One Single-->
								<div class="services-one__single wow fadeInUp" data-wow-delay="100ms">
									<div class="services-one__icon">
										<img src="{% static 'assets/images/92.jpg' %}" alt="" height="92" width="92">
									</div>
									<h3 class="services-one__title"><a href="web-application.html">Ironing</a></h3>
									<p class="services-one__text">Wanna look smart with the 'Oh so nicely clean and ironed clothes'??</p>
									
		
								</div> 
							</div>
						</div>
					</div>
					<h5><center><ul>If your answer to all the above question is 'yes',<ul>
						<ul>Shine is ready to make your clothes shine with the best services as above listed</ul>
					</h5></center>
				</section>
		<!--Services One End-->


		<!--Portfolio One Start-->
		<section class="portfolio-one" id="portfolio">
			<div class="portfolio-one__container">
				<div class="section-title text-center">
					
					<h2 class="section-title__title">Machines Availble in <br> Our laundry<br></h2>
				</div>
				
				<div class="row filter-layout masonary-layout">
					<div class="col-xl-3 col-lg-6 col-md-6 filter-item bra illus web photo">
						<!--Portfolio One Single-->
						<div class="portfolio-one__single wow fadeInUp" data-wow-delay="100ms">
							<div class="portfolio-one__img">
								<img src="{% static 'assets/images/demo4.jpg' %}" alt="" height="426" width="370">
								
								<div class="portfolio-one__arrow">
									<span class="icon-right-arrow"></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 filter-item bra photo">
						<!--Portfolio One Single-->
						<div class="portfolio-one__single wow fadeInUp" data-wow-delay="200ms">
							<div class="portfolio-one__img">
								<img src="{% static 'assets/images/demo3.jpg' %}" alt=""  height="426" width="370">
								
								<div class="portfolio-one__arrow">
									<span class="icon-right-arrow"></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 filter-item bra illus web">
						<!--Portfolio One Single-->
						<div class="portfolio-one__single mar-b-0 margin-bottom-30 wow fadeInUp" data-wow-delay="300ms">
							<div class="portfolio-one__img">
								<img src="{% static 'assets/images/demo1.jpg' %}" alt=""  height="426" width="370">
								
								<div class="portfolio-one__arrow">
									<span class="icon-right-arrow"></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 filter-item bra illus photo">
						<!--Portfolio One Single-->
						<div class="portfolio-one__single mar-b-0 wow fadeInUp" data-wow-delay="400ms">
							<div class="portfolio-one__img">
								<img src="{% static 'assets/images/demo2.jpg' %}" alt=""  height="426" width="370">
								
								<div class="portfolio-one__arrow">
									<span class="icon-right-arrow"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>					<!--Portfolio One Single-->
						
		<!--Portfolio One End-->


		<!--Testimonial One Start-->
		<section class="testimonial-one" id="testimonials">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5">
						<div class="testimonial-one__left">
							<div class="section-title text-left">
								<span class="section-title__tagline">Customer demand</span>
								<br><br><h2 class="section-title__title">Why Choose Us?</h2>
							</div>
							<!-- <div class="testimonial-one__btn-box">
								<a href="about.html" class="thm-btn testimonial-one__btn"><span>All feedbacks</span></a>
								<div class="testimonial-one__btn-shape"></div>
							</div> -->
						</div>
					</div>
					<div class="col-xl-8 col-lg-7">
						<div class="testimonial-one__slider">


							<div class="swiper-container" id="testimonials-one__thumb">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="testimonial-one__img-holder">
											<img src="{% static 'assets/images/testimonial/testimonials-1-1.png' %}" alt="">
											<div class="testimonial-one__quote">

											</div>
										</div>
									</div><!-- /.swiper-slide -->
									<div class="swiper-slide">
										<div class="testimonial-one__img-holder">
											<img src="{% static 'assets/images/testimonial/testimonials-1-2.png' %}" alt="">
											<div class="testimonial-one__quote">

											</div>
										</div>
									</div><!-- /.swiper-slide -->
									<div class="swiper-slide">
										<div class="testimonial-one__img-holder">
											<img src="{% static 'assets/images/testimonial/testimonials-1-3.png' %}" alt="">
											<div class="testimonial-one__quote">

											</div>
										</div>
									</div><!-- /.swiper-slide -->
								</div><!-- /.swiper-wrapper -->
							</div><!-- /#testimonials-one__thumb.swiper-container -->

							<div class="testimonials-one__main-content">
								<div class="swiper-container" id="testimonials-one__carousel">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="testimonial-one__conent-box">
												<p class="testimonial-one__text">We, as a laundry service providing company, are dedicated to cleaning, washing, ironing and ensuring
careful and safe delivery of your clothes.</p>
												
											</div>
										</div><!-- /.swiper-slide -->
										<div class="swiper-slide">
											<div class="testimonial-one__conent-box">
												<p class="testimonial-one__text">We believe in serving our customers with the best services in
less time and at affordable rates.</p>
												
											</div>
										</div><!-- /.swiper-slide -->
										<div class="swiper-slide">
											<div class="testimonial-one__conent-box">
												<p class="testimonial-one__text">We tend to collaborate with our clients to assure the cleaning of their
clothes and ensure the serviceability and delivery provided..</p>
												
											</div>
										</div><!-- /.swiper-slide -->
									</div><!-- /.swiper-wrapper -->
									<div id="testimonials-one__carousel-pagination"></div>
									<!-- /#testimonials-one__carousel-pagination -->
								</div><!-- /#testimonials-one__thumb.swiper-container -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	



		<!--Contact Page Google Map Start-->
		<section class="contact-page-google-map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.549350017768!2d74.4549264139989!3d19.474987186860297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcf1cdb8f3fccd%3A0x8dea8600274ed73f!2sNimbhere%20School!5e0!3m2!1sen!2sin!4v1629431653526!5m2!1sen!2sin"
				class="contact-page-google-map__box one-page-map" allowfullscreen></iframe>
		</section>
		<!--Contact Page Google Map End-->

		<!--Get in Touch Start-->
		<section class="get-in-touch" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-xl-6">
						<div class="get-in-touch__right">
							<div class="section-title text-left">
								<span class="section-title__tagline">Contact with us</span>
								<h2 class="section-title__title">Get in touch with the Shine Laundry..</h2>
							</div>
							<div class="get-in-touch__locations">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-6">
										<div class="get-in-touch__locations-left">
											<p class="get-in-touch__locations-text"><li><ul>We deliver your serviced clothes in just 2 days of booking us!!!</ul>
												<ul>Quality work at perfect time</ul>
												<ul>Lesson your burden and connect to us</ul>

											</li>
											</p>
											
										</div>
									</div>
									<div class="col-xl-6">
										<div class="get-in-touch__locations-right">
											<div class="get-in-touch__locations-carousel owl-theme owl-carousel">
												<div class="get-in-touch__locations-single">
													<div class="get-in-touch__locations-top">
														<div class="get-in-touch__locations-icon">
															<i class="icon-placeholder"></i>
														</div>
														<div class="get-in-touch__locations-title">
															<h4>Shine Laundry</h4>
														</div>
													</div>
													<div class="get-in-touch__locations-bottom">
														<p class="get-in-touch__locations-bottom-tagline">Nashik
															Tal Nashik
														</p>
														<h3>
															<a href="mailto:needhelp@moniz.com"
																class="get-in-touch__locations-mail">needhelp@moniz.com</a>
															<a href="tel:92-666-888-000"
																class="get-in-touch__locations-phone">92 666 888 000</a>
														</h3>
													</div>
												</div>
												<div class="get-in-touch__locations-single">
													<div class="get-in-touch__locations-top">
														<div class="get-in-touch__locations-icon">
															<i class="icon-placeholder"></i>
														</div>
														<div class="get-in-touch__locations-title">
															<h4>Shine Laundry</h4>
														</div>
													</div>
													<div class="get-in-touch__locations-bottom">
														<p class="get-in-touch__locations-bottom-tagline">Nashik
															Tal Nashik</p>
														<h3>
															<a href="mailto:needhelp@moniz.com"
																class="get-in-touch__locations-mail">needhelp@moniz.com</a>
															<a href="tel:92-666-888-000"
																class="get-in-touch__locations-phone">92 666 888 000</a>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="contact-page__form contact-page__form--one-page">
							<form action="#" class="comment-one__form contact-form-validated"
								novalidate="novalidate">
								<div class="row">
									<div class="col-xl-6">
										<br><div class="comment-form__input-box">
											<input type="text" placeholder="Your name" name="name" required="">
										</div>
									</div>
									<div class="col-xl-6">
										<div class="comment-form__input-box">
											<input type="email" placeholder="Email Address" name="email" required="">
										</div>
									</div>
									<div class="col-xl-6">
										<div class="comment-form__input-box">
											<input type="text" placeholder="Phone number" name="phone" required="">
										</div>
									</div>
									<div class="col-xl-6">
										<div class="comment-form__input-box">
											<input type="text" placeholder="Subject" name="Subject" required="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-12">
										<div class="comment-form__input-box">
											<textarea name="message" placeholder="Write Message" required=""></textarea>
										</div>
										<button type="submit" class="thm-btn"><span>Send a
												message</span></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!--Get in Touch End-->
		<!--Site Footer One Start-->
	{% endblock %}